http://127.0.0.1, http://localhost, http://core {
    route /* {
    reverse_proxy core:4200
    }
}

http://alerts {
    route /* {
    reverse_proxy alerts:4200
    }
}


http://alert-rules {
    route /* {
    reverse_proxy alert-rules:4200
    }
}

http://detection-lists {
    route /* {
    reverse_proxy detection-lists:4200
    }
}

http://cases {
    route /* {
    reverse_proxy cases:4200
    }
}

http://storage {
    route /* {
    reverse_proxy storage:4200
    }
}

http://connected-server {
    route /* {
    reverse_proxy connected-server:4200
    }
}

http://audit-log {
    route /* {
    reverse_proxy audit-log:4200
    }
}

http://file-events {
    route /* {
    reverse_proxy file-events:4200
    }
}

http://preservation-data-service {
    route /* {
    reverse_proxy preservation-data-service:4200
    }
}

http://exfiltration-data-service {
    route /* {
    reverse_proxy exfiltration-data-service:4200
    }
}

http://trusted-activities-service {
    route /* {
    reverse_proxy trusted-activities:4200
    }
}


